@page "{alias}"
@model cpcx.Pages.User.Index

@{
    ViewData["Title"] = $"{Model.UserProfile}'s Profile";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>

    <partial name="_StatusMessage" model="Model.StatusMessage" />

    <h2>About @Model.UserProfile.UserName</h2>
    
    <p><b>Postcards Sent:</b> @Model.ProfileStats.PostcardsSent</p>
    <p><b>Postcards Received:</b> @Model.ProfileStats.PostcardsReceived</p>
    
    <p>@Model.UserProfile.ProfileDescription</p>
</div>