@page "{alias}"
@using cpcx.Entities
@model cpcx.Pages.User.Index

@{
    ViewData["Title"] = $"{Model.UserProfile}'s Profile";

    ViewData["Pronouns"] = (Model.UserProfile.Pronouns != Pronoun.Empty ? $" ({Model.UserProfile.Pronouns.GetDescription()})" : "");
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>

    <partial name="_StatusMessage" model="Model.StatusMessage" />

    <h2>About @Model.UserProfile.UserName@ViewData["Pronouns"]</h2>
    
    <p><b>Postcards Sent:</b> @Model.ProfileStats.PostcardsSent</p>
    <p><b>Postcards Received:</b> @Model.ProfileStats.PostcardsReceived</p>
    
    <p><b>Profile Description:</b></p>
    <p>@Model.UserProfile.ProfileDescription</p>
    
    @if (!Model.OwnProfile)
    {
        <p>Report Profile</p>
    }
</div>