@page "{alias}"
@using cpcx.Entities
@model cpcx.Pages.User.Index

@{
    ViewData["Title"] = $"{Model.UserProfile}'s Profile";

    ViewData["Pronouns"] = (Model.UserProfile.Pronouns != Pronoun.Empty ? $" ({Model.UserProfile.Pronouns.GetDescription()})" : "");
}

<div>
    <h1 class="display-4">@ViewData["Title"]</h1>

    <partial name="_StatusMessage" model="Model.StatusMessage" />

    <h2>About @Model.UserProfile.UserName@ViewData["Pronouns"]</h2>
    
    <dl>
        <dt><i class="bx bx-export text-danger"></i> Postcards Sent:</dt>
        <dd>@Model.ProfileStats.PostcardsSent</dd>
        <dt><i class="bx bx-import text-danger"></i> Postcards Received:</dt>
        <dd>@Model.ProfileStats.PostcardsReceived</dd>
        <dt>Profile Description:</dt>
        <dd>@Model.UserProfile.ProfileDescription</dd>
    </dl>
    
    @if (!Model.OwnProfile)
    {
        <p>Report Profile</p>
    }
</div>