@using Microsoft.AspNetCore.Identity
@using cpcx.Entities
@inject SignInManager<CpcxUser> SignInManager
@inject UserManager<CpcxUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li asp-authorize class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Hello @User.Identity?.Name!
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" asp-area="" asp-page="/User/Index" title="See @User.Identity?.Name! Profile" asp-route-alias="@UserManager.GetUserName(User)">See Profile</a></li>
            <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage @User.Identity?.Name! Profile">Settings</a></li>
        </ul>
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
    <li class="nav-item py-2 py-lg-1 col-12 col-lg-auto">
        <div class="vr d-none d-lg-flex h-100 mx-lg-2 text-white"></div>
        <hr class="d-lg-none my-2 text-white-50">
    </li>
    <li class="nav-item dropdown">
        <button class="btn btn-link nav-link px-0 px-lg-2 py-2 dropdown-toggle d-flex align-items-center"
                id="bd-theme"
                type="button"
                aria-expanded="false"
                data-bs-toggle="dropdown"
                data-bs-display="static"
                aria-label="Toggle theme (auto)">
            <span class="d-lg-none ms-2" id="bd-theme-text">Toggle theme</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme-text">
            <li>
                <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
                    Light
                </button>
            </li>
            <li>
                <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
                    Dark
                </button>
            </li>
            <li>
                <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto" aria-pressed="true">
                    Auto
                </button>
            </li>
        </ul>
</ul>
