@page "{postcardId}"
@using cpcx.Entities
@model cpcx.Pages.Postcard.Index

@{
    ViewData["Title"] = $"Postcard {Model.PostcardId}";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>

    <partial name="_StatusMessage" model="Model.StatusMessage" />

    @if (Model.IsTravellingPostcard)
    {
        <p>Postcard @Model.Postcard.FullPostCardId will go to...</p>
        <p>@Model.Postcard.Receiver.UserName (@Model.Postcard.Receiver.Pronouns.GetDescription())</p>
        <p>Address: @Model.PostcardAddress</p>
    }
    else
    {
        <p>Sent on @Model.Postcard.SentOn by @Model.Postcard.Sender.UserName</p>
        <p>Received on @Model.Postcard.ReceivedOn by @Model.Postcard.Receiver.UserName</p>
    }
</div>