@page
@using System.Globalization
@model cpcx.Pages.Postcard.Travelling

@{
    ViewData["Title"] = "Travelling Postcards";
}

<div>
    <h1 class="display-4">@ViewData["Title"]</h1>

    <partial name="_StatusMessage" model="Model.StatusMessage" />

    <p>Travelling: @Model.TravellingPostcardsCount out of @Model.MaxTravellingPostcardsCount postcards</p>
    
    <p>If you need to see the address for a postcard again, click the corresponding Postcard ID listed below</p>
    
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Postcard ID</th>
            <th scope="col">Receiver</th>
            <th scope="col">Sent</th>
            <th scope="col">Expired</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var p in Model.Postcards)
        {
            <tr>
                <td><a asp-area="" asp-page="/Postcard/Index" asp-route-postcardId="@p.FullPostCardId">@p.FullPostCardId</a></td>
                <td><a asp-area="" asp-page="/User/Index" asp-route-alias="@p.Receiver.UserName">@p.Receiver.UserName</a></td>
                <td>@p.SentOn.ToString(CultureInfo.CurrentCulture)</td>
                <td><i>@(@p.IsExpired(Model.PostcardExpiredTime)? "(expired)": "-")</i> </td>
            </tr>
        }
        
        </tbody>
    </table>
</div>